{% extends "layout.html" %}

{% block content %}

  <h1 class="govuk-heading-xl">{{titleCase pageName}}</h1>

  <p class="govuk-body">This where you put in the content for the page</p>
  <p class="govuk-body">Second paragraph can go here</p>

  <form action="#" method="post" class="form">

    {# BUTTON #}
    
  </form>
{% endblock %}