{% extends "layout.njk" %}
{% block content %}
    <h1>Generate</h1>

    <form action="#" method="post">
        <div class="form-group">
            <label for="pageName">Page Name</label>
            <input  name="pageName" id="pageName">
        </div>

        <div class="form-group">
            <label for="isStartButton">Should green button be a Start Now button</label>
            <input type="checkbox" name="isStartButton" id="isStartButton">
        </div>

        <input type="submit" value="Submit">
    </form>

{% endblock %}