{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <h1 class="govuk-heading-l">Available Plops</h1>

    <a class="govuk-link" href='plops/guidance-page'>Guidance Page</a>

{% endblock %}